infrastructure/n8n/workflows/Task Callback Handler.json
{
  "name": "Task Callback Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-callback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Task Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "task-callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "FAILED"
            }
          ]
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Is Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"U39c581a7f6f9947e2d1061920173d95e\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"🚨 Worker Task Failed 🚨\\n\\n📌 Task: {{ $json.body.task_type }}\\n🆔 ID: {{ $json.body.task_id }}\\n❌ Error: {{ $json.body.error_log || 'Unknown error' }}\\n⏰ Time: {{ $json.body.completed_at }}\\n\\n请检查 data-sync worker 日志\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send-line-alert",
      "name": "LINE: Task Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evjTvllP34iRY10U",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-success",
      "name": "Success (No Action)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    }
  ],
  "connections": {
    "Task Callback Webhook": {
      "main": [
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "LINE: Task Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success (No Action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "instanceId": "7f95bd96e0e5c727811995ef51d9e1ffdabcc354b062795fa9a6d32568c6a432"
  }
}
